{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>{{ page_title }}</title>
<link href="{% static 'breakout.css' %}" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
<script type="text/javascript">
var loginUniqueId = "{{ login_unique_id }}";
var sameSite = "{{ same_site }}";

var displayContent = function () {
     var resp = JSON.parse(this.responseText);
     console.log(resp);

     var contentUrl = window.location.protocol + '//' + window.location.host + window.location.pathname
             + '?login_unique_id=' + loginUniqueId + '&cookies_allowed=1';

     if (resp.cookies_allowed) {
        window.location.href = contentUrl;
     } else {
        var newTabLink = document.getElementById("newTabLink");
        document.getElementById("embedded-loading").style.display = "none";
        document.getElementById("embedded-browser-msg").style.display = "block";
        newTabLink.onclick = function() {
            window.open(contentUrl , '_blank');
            newTabLink.parentNode.removeChild(newTabLink);
        };
     }
};

var checkCookiesAllowed = function () {
    var currentTimestamp = (!Date.now ? +new Date() : Date.now());
    var newCookie = "test_cookie=" + currentTimestamp + "; path=/";
    if (window.location.protocol === 'https:') {
        if (sameSite !== '') {
            newCookie = newCookie + '; SameSite=' + sameSite;
        }
        newCookie = newCookie + '; secure';
    }
    document.cookie = newCookie;

    var xhttp = new XMLHttpRequest();
    xhttp.addEventListener("load", displayContent);
    xhttp.open("GET", "/check-cookies-allowed/?ts=" + currentTimestamp, true);
    xhttp.send();
};

document.addEventListener("DOMContentLoaded", checkCookiesAllowed);
</script>
</head>
<body>
<div id="embedded-loading">
    <p><strong>Loading...</strong></p>
</div>
<div id="embedded-browser-msg" style="display: none;">
    <p><strong>Your browser prohibits to save cookies in the iframes.</strong> <a href="javascript: void(0);" id="newTabLink">Click here to open content in the new tab</a></p>
</div>
</body>
</html>
